.container {
  padding: 0 20rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.main a {
  text-decoration: none;
  color: black;
}

.blogItem {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 15px 0px;
  line-height: 1.5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
  border-radius: 15px;
}
